html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  overflow: hidden;
}

#__next {
  height: 100%;
  overflow: auto !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "proxima-regular";
  src: url("/fonts/ProximaNova-Regular.woff2");
}
@font-face {
  font-family: "proxima-bold";
  src: url("/fonts/ProximaNova-Bold.woff2");
}
@font-face {
  font-family: "proxima-black";
  src: url("/fonts/ProximaNova-Black.woff2");
}
